<div class="reputon-google-reviews-widget" id="a1a325a0-8344-11ea-8187-cbbf71a6af39" style="display: flex; justify-content: center;"></div>
{% section 'cart-template' %}
{% section 'cart-faq' %}
<div class="reputon-google-reviews-widget" id="2c9b8970-8329-11ea-9b8f-5d390e679501" ></div>

<script src="https://widget.sezzle.com/v1/javascript/price-widget?uuid=cf39589e-a2cb-4dfd-98de-b005bd84d102"></script>
{% render 'wc_cart' %}
<script src='https://widget.sezzle.com/v1/javascript/price-widget?uuid=cf39589e-a2cb-4dfd-98de-b005bd84d102'></script>
